.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #000000;

  .icon-input {
    position: absolute;
    right: 8px;
    top: 15px;
    width: 20px;
    height: auto;
    font-size: 1.2em;
  }
  .filling-input {
    margin: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    padding: 0 60px 0 5px;
  }

  .filling-input:focus ~ .label-input,
  .filling-input:valid ~ .label-input,
  .filling-input:hover ~ .label-input {
    top: -1px;
  }

  .label-input {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #000000;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
  }
}

.label-remark {
  position: absolute;
  top: 110%;
  left: 5px;
  font-size: 0.8em;
  color: #000000;

  pointer-events: none;
}
