// .style-input {
//   width: 300px;
// }

// input {
//   border-radius: 15px;
//   box-shadow: inset 0px 0px 25px 0px #ffd5f4;
//   border: none;
//   outline: none;
//   background-color: #fff;
//   .style-form-control {
//     width: 300px;
//     height: 35px;
//   }
// }
