.bg-ver-ply {
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  background: #feecbc;

  .style-title-box-game {
    position: absolute;
    top: 0px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 100%;
  }

  .box-playing {
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
    padding-top: 100px;
    display: flex;
    .left-ver-ply {
      margin: 0px;
      margin-top: 0px;
      padding: 0px;
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .rock-player-ver-ply {
        width: 100px;
      }
      .scissor-player-ver-ply {
        width: 100px;
      }
      .paper-player-ver-ply {
        width: 90px;
      }
      .rock-player-ver-ply:hover {
        scale: 1.3;
        cursor: pointer;
      }
      .scissor-player-ver-ply:hover {
        scale: 1.3;
        cursor: pointer;
      }
      .paper-player-ver-ply:hover {
        scale: 1.3;
        cursor: pointer;
      }
    }
    .remark-middle-ver-ply {
      margin: 0px;
      margin-top: 0px;
      padding: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 20%;
      height: auto;
      .remark-vs-ver-ply {
        width: 200px;
      }
      .remark-win-ver-ply {
        width: 200px;
      }
      .remark-lose-ver-ply {
        width: 200px;
      }
      .remark-draw-ver-ply {
        width: 200px;
      }
    }
    .right-ver-ply {
      margin: 0px;
      margin-top: 0px;
      padding: 0px;
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .rock-player-ver-ply {
        width: 100px;
      }
      .scissor-player-ver-ply {
        width: 100px;
      }
      .paper-player-ver-ply {
        width: 90px;
      }
    }
  }
}
