.btn-ylw-btn {
  position: relative;
  width: 130px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  .ylw-btn-sha {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 170px;
    height: 50px;
  }
  .ylw-btn-top {
    position: absolute;
    top: 1px;
    left: 4.5px;
    width: 160px;
    height: 44px;
  }
  .label-ylw-btn {
    position: relative;
    display: flex;
    justify-content: center;
    top: 5px;
    left: -20px;
    width: 200px;
    font-size: 20px;
    color: whitesmoke;
    font-family: "Cherry Bomb One", cursive;
  }
}

.btn-ylw-btn:hover {
  .label-ylw-btn {
    position: relative;
    display: flex;
    justify-content: center;
    top: 5px;
    left: -20px;
    width: 200px;
    font-size: 20px;
    color: black;
    font-family: "Cherry Bomb One", cursive;
  }
}

.btn-ylw-btn:active {
  .ylw-btn-sha {
    position: absolute;
    top: 3px;
    left: 0px;
    width: 170px;
    height: 48px;
  }
  .ylw-btn-top {
    position: absolute;
    top: 5px;
    left: 4.5px;
    width: 160px;
    height: 44px;
  }

  .label-ylw-btn {
    position: relative;
    display: flex;
    justify-content: center;
    top: 9px;
    font-size: 20px;
    color: black;
    font-family: "Cherry Bomb One", cursive;
  }
}
