.bg-gm-hist {
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  background: #feecbc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .tbg-game-hist {
    position: absolute;
    top: 0px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 100%;
  }
  .box-game-hist {
    position: absolute;
    padding-top: 80px;
    .bg-box-game-hist {
      height: 500px;
    }
  }
  .list-game-hist {
    position: absolute;
    padding-top: 80px;

    .list-hist-box {
      width: 500px;
      display: flex;
      margin: 10px;

      .list-hist-box-left {
        font-size: 30px;
        background: #9e5022;
        font-family: "Chicle", cursive;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        cursor: default;
      }
      .list-hist-box-middle {
        font-size: 30px;
        background: #b67444;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Chicle", cursive;
        width: 250px;
        cursor: default;
      }
      .list-hist-box-right {
        font-size: 30px;
        background: #9e5022;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Chicle", cursive;
        width: 100px;
        cursor: default;
      }
    }
    ::-webkit-scrollbar {
      display: none;
    }
  }
}
