button {
  width: 140px;
  height: 30px;
}

.style-btn {
  --bs-btn-font-size: 1.3rem;
  --bs-btn-font-weight: 400;
  --bs-btn-border-radius: 150px;
  --bs-btn-padding-y: 0;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.style-button {
  --bs-btn-color: #ffe5ec;
  --bs-btn-bg: #c9358f;
  --bs-btn-border-color: #da2d98;
  --bs-btn-hover-color: #ffe5ec;
  --bs-btn-hover-bg: #f056b4;
  --bs-btn-hover-border-color: #da2d98;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #ffe5ec;
  --bs-btn-active-bg: #da2d98;
  --bs-btn-active-border-color: #da2d98;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ffb3c6;
  --bs-btn-disabled-border-color: #ffb3c6;
}

// .style-button {
//   --bs-btn-color: #ffe5ec;
//   --bs-btn-bg: #ffb3c6;
//   --bs-btn-border-color: #ffb3c6;
//   --bs-btn-hover-color: #ffe5ec;
//   --bs-btn-hover-bg: #ff8fab;
//   --bs-btn-hover-border-color: #fb6f92;
//   --bs-btn-focus-shadow-rgb: 49, 132, 253;
//   --bs-btn-active-color: #ffe5ec;
//   --bs-btn-active-bg: #fb6f92;
//   --bs-btn-active-border-color: #fb6f92;
//   --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
//   --bs-btn-disabled-color: #fff;
//   --bs-btn-disabled-bg: #ffb3c6;
//   --bs-btn-disabled-border-color: #ffb3c6;
// }
