.bg-cre-room {
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  background: #feecbc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .text-remark-cre-room {
    font-family: "Chicle", cursive;
    font-size: 25px;
    cursor: default;
  }
  .input-cre-room {
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
    width: 205px;
    height: 50px;
    background: #feecbc;
    display: flex;
    align-items: center;
    justify-content: center;
    .input-cre-room-img {
      position: absolute;
      width: 350px;
      height: 80px;
    }
    .input-cre-room-label {
      position: absolute;
      width: 280px;
      background: transparent;
      border: none;
      outline: none;
      font-family: "Cherry Bomb One", cursive;
      font-size: 35px;
      text-align: center;
      color: #5e2a11;
      font-weight: 600;
      text-decoration: none;
    }
  }
  .choice-box {
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    .rock-choice {
      width: 150px;
    }
    .scissor-choice {
      width: 130px;
    }
    .paper-choice {
      width: 115px;
    }
    .rock-choice:hover {
      scale: 1.3;
      cursor: pointer;
    }
    .scissor-choice:hover {
      scale: 1.3;
      cursor: pointer;
    }
    .paper-choice:hover {
      scale: 1.3;
      cursor: pointer;
    }
  }
}
