.box-room-name {
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
  width: 350px;
  height: 80px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .box-room-name-img {
    position: absolute;
    top: 0px;
    width: 350px;
    height: 80px;
  }
  .room-name-label {
    position: absolute;
    top: 11px;
    width: 280px;
    background: transparent;
    border: none;
    outline: none;
    font-family: "Cherry Bomb One", cursive;
    font-size: 35px;
    text-align: center;
    color: #5e2a11;
    font-weight: 600;
    text-decoration: none;
    cursor: default;
  }
}
