.bg-dash {
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  background: #feecbc;
  .main-part-dash {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .left-part-dash {
      margin: 0;
      padding: 0;
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .small-pic {
        margin: 0;
        padding: 0;
        width: 200px;
      }
      .notes-dashboard {
        margin: 0;
        padding: 0;
        width: 300px;
        vertical-align: middle;
        text-align: center;
        font-family: "Chicle", cursive;
        font-size: 25px;
        cursor: default;
      }
    }
    .middle-part-dash {
      margin: 0;
      padding: 0;
      width: 50%;
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .middle-styling-position {
        position: relative;
        .notes-dashboard {
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          font-family: "Chicle", cursive;
          font-size: 35px;
          cursor: default;
        }
        .box-outer-middle {
          margin: 0;
          padding: 0;
          height: 500px;
        }
        .btn-middle {
          position: absolute;
          top: 100px;
          right: 295px;
        }
        .list-room-dash {
          position: absolute;
          margin: 0;
          padding: 0;
          width: 550px;
          top: 150px;
          left: 115px;
          display: flex;
          justify-content: center;
          align-items: center;

          .list-dash-box {
            width: 600px;
            display: flex;
            margin: 0;
            padding: 0;

            .style-container-dash {
              width: 150px;
              margin-left: 0px;
              margin-right: 0px;
            }

            .style-row-dash {
              flex-wrap: nowrap;

              .btn-room-dash {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 150px;
                margin: 10px 10px 10px 10px;
                background-color: #c98f5d;
                border: 2px solid rgba(255, 255, 255, 0.5);
                border-radius: 20px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(40px);

                .style-col-top {
                  width: 200px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: 0;
                  font-size: 30px;
                  font-family: "Chicle", cursive;
                }
                .style-col-btm {
                  width: 200px;
                  display: flex;
                  padding-left: 40px;
                  align-items: center;
                  margin: 0;
                  font-family: "Chicle", cursive;
                }
              }
              .btn-room-dash:hover {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 150px;
                margin: 10px 10px 10px 10px;
                background-color: #f0b819;
                border: 2px solid rgba(255, 255, 255, 0.5);
                border-radius: 20px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(40px);
              }
              .btn-room-dash:active {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 150px;
                margin: 10px 10px 10px 10px;
                background-color: #7d2d0c;
                border: 2px solid rgba(255, 255, 255, 0.5);
                border-radius: 20px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(40px);
              }
            }
          }
          ::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
    .right-part-dash {
      margin: 0;
      padding: 0;
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .right-styling-position {
        position: relative;
        .box-profile {
          position: absolute;
          top: -180px;
          right: -130px;
          margin: 0;
          padding: 0;
          height: 450px;
          width: 300px;
        }
        .notes-profile {
          position: absolute;
          top: -165px;
          right: -30px;
          font-size: 30px;
          font-family: "Cherry Bomb One", cursive;
          cursor: default;
        }
        .btn-hist {
          position: absolute;
          top: 180px;
          right: -25px;
        }
        .box-avatar-profile {
          position: absolute;
          width: 80px;
          left: -55px;
          top: -70px;
        }
        .txt-profile {
          position: absolute;
          width: 80px;
          left: -110px;
          top: 25px;
          display: flex;
          flex-direction: column;
          .txt-profile-style {
            margin: 0;
            padding: 0;
            width: 500px;
            font-family: "Chicle", cursive;
            font-size: 18px;
            color: #804118;
            .txt-profile-style-tag {
              width: 100px;
            }
            .txt-profile-style-mark {
              width: 10px;
            }
          }
        }
      }
    }
  }
}
