.btn-grn-btn {
  position: relative;
  width: 130px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  .grn-btn-sha {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 130px;
    height: auto;
  }
  .grn-btn-top {
    position: absolute;
    top: 1px;
    left: 4.5px;
    width: 120px;
    height: auto;
  }
  .label-grn-btn {
    position: relative;
    display: flex;
    justify-content: center;
    top: -5px;
    font-size: 30px;
    color: white;
    font-family: "Cherry Bomb One", cursive;
  }
}

.btn-grn-btn:hover {
  .label-grn-btn {
    position: relative;
    display: flex;
    justify-content: center;
    top: -3px;
    font-size: 30px;
    color: black;
    font-family: "Cherry Bomb One", cursive;
  }
}

.btn-grn-btn:active {
  .grn-btn-sha {
    position: absolute;
    top: 3px;
    left: 0px;
    width: 130px;
    height: 48px;
  }
  .grn-btn-top {
    position: absolute;
    top: 5px;
    left: 4.5px;
    width: 120px;
    height: auto;
  }
  .label-grn-btn {
    position: relative;
    display: flex;
    justify-content: center;
    top: -1px;
    font-size: 30px;
    color: white;
    font-family: "Cherry Bomb One", cursive;
  }
  .label-grn-btn {
    position: relative;
    display: flex;
    justify-content: center;
    top: 0px;
    font-size: 30px;
    color: black;
    font-family: "Cherry Bomb One", cursive;
  }
}
