.bg-main-page {
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  background: #feecbc;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  .btn-main-page {
    position: relative;
    width: 100%;
    height: 50%;
    background-color: transparent;
    border: none;
    outline: none;
    .img-main-page {
      height: 500px;
    }
  }
  .txt-main-page {
    font-size: 80px;
    font-family: "Patua One", cursive;
  }
}
