.bg-ver-com {
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  background: #feecbc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .playing-part-ver-com {
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    .left-ver-com {
      margin: 0px;
      margin-top: 0px;
      padding: 0px;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .rock-player-ver-com {
        width: 100px;
      }
      .scissor-player-ver-com {
        width: 100px;
      }
      .paper-player-ver-com {
        width: 90px;
      }
      .rock-player-ver-com:hover {
        scale: 1.3;
        cursor: pointer;
      }
      .scissor-player-ver-com:hover {
        scale: 1.3;
        cursor: pointer;
      }
      .paper-player-ver-com:hover {
        scale: 1.3;
        cursor: pointer;
      }
    }
    .remark-middle-ver-com {
      margin: 0px;
      margin-top: 0px;
      padding: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: auto;
      .remark-vs-ver-com {
        width: 200px;
      }
      .remark-win-ver-com {
        width: 200px;
      }
      .remark-lose-ver-com {
        width: 200px;
      }
      .remark-draw-ver-com {
        width: 200px;
      }
    }
    .right-ver-com {
      margin: 0px;
      margin-top: 0px;
      padding: 0px;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .rock-com-ver-com {
        width: 100px;
      }
      .scissor-com-ver-com {
        width: 100px;
      }
      .paper-com-ver-com {
        width: 90px;
      }
    }
  }

  .btn-play-again {
    display: block;
  }
}
