.titles {
  padding: 0px;
  margin: 0px;
  text-align: center;
  text-decoration: none;
  color: #9e5022;
  font-size: 50px;
  font-family: "Cherry Bomb One", cursive;
  letter-spacing: 1px;
  cursor: default;
}
