.bg-404 {
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
  padding-bottom: 70px;
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/image/404.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
